<h1> Hello</h1>


<a href="celebrities/create">Create a new Celeb</a>

<br>
<br>
<br>
<br>

<a href="/celebrities" See the celebrities</a>


<br>
<br>
<br>
<br>

<a href="movies/create"> Create new movie </a>
<br>
<br>
<br>
<br>


